sudo: required
install: travis_wait 30 mvn install
servies:
  - docker

before_install:
  - docker build -t hung6066/docker-react -f Dockerfile.dev .

script:
  - docker run hung6066/docker-react npm run test -- --coverage

deloy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-react"
  evn: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-us-east-2-169832313926"
  bucket_path: "docker-react"
  on:
    branch: main
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key:
      secure: "$AWS_SECRET_KEY"
